<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zzp.applicationkotlin">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <package android:name="com.tencent.mm" />
        // 指定微信包名
    </queries>

    <instrumentation
        android:name="com.zzp.applicationkotlin.instrumentation.InfoInstrumentation"
        android:targetPackage="com.zzp.applicationkotlin"
        android:targetProcesses="com.zzp.applicationkotlin" />

    <application
        android:name=".application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ApplicationKotlin"
        android:usesCleartextTraffic="true">
        <activity android:name=".NotifyActivity"></activity>
        <activity android:name=".ViewPager2Activity" />
        <activity
            android:name=".WorkManagerActiivty"
            android:label="@string/title_activity_work_manager_actiivty"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".WebViewActivity"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".ForegroundServiceActivity"
            android:label="@string/title_activity_work_manager_actiivty"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".AddWindowActivity"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".JobActivity"
            android:label="@string/title_activity_job" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".InstrumentationActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".TrafficActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".NewMainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar">
            <meta-data
                android:name="UMENG_CHANNEL_VALUE"
                android:value="${UMENG_CHANNEL_VALUE}" />
            <meta-data
                android:name="UMENG_CHANNEL_VALUE2"
                android:value="${UMENG_CHANNEL_VALUE2}" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ShareWeixinActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".DollMachineActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".KotlinActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".VideoPlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".RoomActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".FaceTestWifi"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />
        <activity
            android:name=".ProviderActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="VideoPlayerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name=".HookServiceActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />

        <activity
            android:name=".TouchViewActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />

        <activity
            android:name=".BitmapActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.ApplicationKotlin.NoActionBar" />

        <service
            android:name=".StaticWallpaper"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/live_wallpaper" />
        </service>
        <service android:name=".service.FirstService" />
        <service android:name=".service.SecondService" />
        <service
            android:name=".service.JobSchedulerService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.zzp.applicationkotlin.service.AutoAccessibilityService"
            android:label="辅助助手"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/allocation"/>
        </service>

        <provider
            android:authorities="com.zzp.databaseprovider"
            android:name="com.zzp.applicationkotlin.provider.DatabaseProvider"/>
    </application>

</manifest>